@charset "utf-8";

/***** drawerMenu.css *****/
/* ボタン装飾 */
#navToggle {
	position: absolute; /*to body*/
	right: 15px;
	top: 37px;
	width: 30px;
	height: 25px;
	cursor: pointer;
}
#navToggle div {
    position: relative;
}
#navToggle span {
	display: block;
	position: absolute; /*to div*/
	width: 100%;
	border-bottom: solid 3px #000;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}
#navToggle span:nth-child(1) {
    top: 0;
}
#navToggle span:nth-child(2) {
    top: 11px
}
#navToggle span:nth-child(3) {
    top: 22px
}

/* ドロワーリスト */
header nav {
	position: absolute;
	right: 0;
    top: -300px; /* 通常時はビュー外 */
	background: #CCC;
    width: 100%;
	padding: 0px;
	-webkit-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-o-transition:.5s ease-in-out;
	transition:.5s ease-in-out;
	text-align: center;
}
header ul {
    margin: 0;
    padding: 0;
}
header ul li {
    display: block;
    margin: 0;
    padding: 15px;
}
header ul li a {
    display: block;
}
header ul li:after {
    content: '';
}
header ul li:last-child { 
    border-bottom: none;
}

/* Toggle(Button) */
#navToggle {
    display: block;
}

/* Click Toggle(Button) */
.openNav #navToggle span:nth-child(1) {
	top: 11px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.openNav #navToggle span:nth-child(2),
.openNav #navToggle span:nth-child(3) {
	top: 11px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
}

/*header menu*/
.openNav nav {
	-moz-transform: translateY(390px);
	-webkit-transform: translateY(390px);
	transform: translateY(390px);
}